//general styling

.hidden {
  display: none;
}

//header
body, html {
  min-height: 100%;
}

body {
  background-image: url("../images/bcg_mobile_1V.png");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logoHeader img {
  width: 96px;
  float: left;
  margin: 3% 0 0 0;
  cursor: pointer;
}

// hamburger menu
#button {
  background-image: url('../images/bars-solid.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 9% 8% 0 0;
}

#mainNav {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  position:relative;
  filter: drop-shadow(0 0 0.75rem black);
}
  
#mainNav button {
  margin-left: auto;
}

#burgerCon {
  display: none;
  margin-top: 20px;
}
  
#burgerCon.slideToggle {
  display: block;
  background-color: black;
}
  
#mainNav button {
  border: 0;
  width: 35px;
  height: 35px;
  transition: all 400ms ease;
}
  
#mainNav button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
  
#mainNav li a {
  display: block;
  color: white;
  text-align: left;
  margin: 5% 0;
  font-family: din-condensed, sans-serif;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

#burgerMenu li a:hover {
  color: #007d55;
  transition: all 200ms ease-in-out;
}


#socialMediaHeader {
  display: flex;
  flex-direction: row;
  margin-top: 40%;
  margin-bottom: 5%;
}

#socialMediaHeader img {
  width: 4.5%;
  padding: 3.5%;
}

#socialMediaHeader img:first-child {
  margin-left: 12%;
}
  
//search icons

#menuIcons {
  display: none;
}

   //hero heading

#heroHeading h1 {
  font-family: din-condensed, sans-serif;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.03);
  position: absolute;
  margin-left: 5%;
  margin-top: 57%;
}

//hero text
#heroText p {
  font-family: poppins,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .4em;
  color: rgba(255, 255, 255, 0.15);
  position: absolute;
  margin-left: 5%;
  margin-top: 81%;
  width: 58%;
}


//hero image
#heroImage img {
    width: 90%;
    height: auto;
    position: relative;
    margin: 10% 0 0 4%;
}


  //buttons hero 
#buttonsHero {
  display: flex;
  flex-direction: row;
  margin-top: 33%;
}

#learnMore {
  padding: .4em;
  border: 0.25em solid white;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  background-color: transparent;
  width: 30%;
  margin-left: 15%;
  margin-top: 17%;
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

#learnMore:hover,
#learnMore:focus {
  transform: translateY(-0.25em);
  transition: all 400ms ease;
}

#shopNow {
  padding: .4em;
  border: 0.25em solid #007d55;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  background-color: #007d55;
  width: 30%;
  margin-top: 17%;
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  margin-left: 10%;
  height: auto;
  cursor: pointer;
}

#shopNow:hover,
#shopNow:focus {
  transform: translateY(-0.25em);
  transition: all 400ms ease;
}

//copyrights
#copyrightsFooter h3 {
  font-family: poppins,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .4em;
  color: rgba(255, 255, 255, 0.15);
  margin-top: 11%;
  text-align: center;
}

#socialMediaFooter {
  display: none;
}

//media query 470px
@media screen and (min-width: 29.375em) {
  #heroImage img {
    margin: 14% 0 0 4%;
  }

  #learnMore {
    width: 26%;
    margin-left: 19%;
  }

  #shopNow {
    width: 26%;
  }

  #buttonsHero {
    margin-top: 28%;
  }

  #heroHeading h1 {
    margin-top: 62%;
  }

  #heroText p {
    font-size: 0.8em;
  }

  #copyrightsFooter h3 {
    margin-top: 11%;
  }

}

//media query 514px
@media screen and (min-width: 32.125em) {
  #heroHeading h1 {
    margin-top: 65%;
  }
}

//media query 610px
@media screen and (min-width: 38.125em) {
  #heroHeading h1 {
    margin-top: 66%;
  }

  #heroText p {
    width: 47%;
  }

  #learnMore {
    width: 23%;
    margin-left: 22%;
  }

  #shopNow {
    width: 23%;
  }
}

//media query 690px
@media screen and (min-width: 43.125em) {
  #heroHeading h1 {
    margin-top: 67%;
    margin-left: 8%;
    font-size: 6em;
  }

  #heroText p {
    width: 41%;
    margin-left: 9%;
    margin-top: 86%;
  }

  #learnMore {
    width: 19%;
    margin-left: 27%;
  }

  #shopNow {
    width: 19%;
  }

  #copyrightsFooter h3 {
    margin-top: 7%;
  }
}

//media query 840px
@media screen and (min-width: 52.5em) {
  .logoHeader img {
    width: 15%;
  }
  
  #heroHeading h1 {
    margin-top: 64%;
  }

  #heroText p {
    width: 34%;
    margin-top: 76%;  
  }

  #learnMore {
    width: 16%;
    margin-left: 29%;
  }

  #shopNow {
    width: 16%;
  }

  #buttonsHero {
    margin-top: 11%;
  }

}

//media query desktop (1024px)
@media screen and (min-width: 64em) {
  body {
    background-image: url("../images/bcg_mobile_1V.gif");
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .logoHeader img {
    width: 96px;
    margin-top: 1%;
  }

  #mainHeader {
    display: flex;
    margin-top: 5%;
  }
  
  #button {
    display: none;
  }

  #burgerCon {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #mainNav {
    text-align: right;
    font-size: 0.875em;
    margin-left: auto;
    background-color: transparent;
  }

  #burgerMenu {
    margin-top: 5%;
    margin-right: 21%;
  }

  #mainNav li {
    display: inline;
    margin-left: 20px;
    border-bottom: none;
  }

  #mainNav li a {
    display: inline;
    padding: 0 2.5%;
    text-decoration: none;
    color: white;
    font-family: din-condensed, sans-serif;
  }

  #menuIcons {
    display: flex;
    flex-direction: row;
    margin-top: -10%;
  }

  #menuIcons img {
    width: 2%;
    padding: 2%;
    cursor: pointer;
  }

  #menuIcons img:first-child {
    margin-left: 85%;
  }

  #socialMediaHeader {
    display: none;
  }

  #heroImage img {
    margin: 5% 0 0 0%;
    width: 70%;
  }

  #heroText p {
    margin: 7% 0 0 65%;
    width: 20%;
  }

  #buttonsHero {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  #learnMore {
    width: 13%;
    margin-left: 84%;
    margin-top: -19%;
  }

  #shopNow {
    width: 13%;
    margin-top: 3%;
    margin-left: 84%;
  }


  #copyrightsFooter h3 {
    margin-top: 4%;
    text-align: left;
    margin-left: 4%;
    color: white;
  }

  #heroHeading h1 {
    margin-left: -9%;
    margin-top: 22%;
    font-size: 7em;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  #socialMediaFooter {
    display: flex;
    flex-direction: row;
    margin-top: -5%;
  }

  #socialMediaFooter img {
    width: 1.5%;
    padding: 1.5%;
    cursor: pointer;
  }

  #socialMediaFooter img:first-child {
    margin-left: 80%;
  }
}

//media query desktop (1050px)
@media screen and (min-width: 65.625em) {
  #heroHeading h1 {
    margin-left: -8%;
  }  

  #learnMore {
    width: 11%;
  }

  #shopNow {
    width: 11%;
  }
}

//media query desktop (1400px)
@media screen and (min-width: 87.5em) {
  #mainNav li a {
    font-size: 1.3em;
  }

  #heroHeading h1 {
    margin-left: -6%;
  }  

  #learnMore {
    width: 10%;
  }

  #shopNow {
    width: 10%;
  }

  #socialMediaFooter img:first-child {
    margin-left: 78%;
  }

  #socialMediaFooter {
    margin-top: -4%;
  }
  
  #copyrightsFooter h3 {
    margin-top: 2%;
  }
}