<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Specialized Bicycles</title>

    <!-- links - stylesheets -->
    <link rel="stylesheet" href="css/main.css">
    
    <!-- links - fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/tqj4lgp.css">
    <link rel="stylesheet" href="https://use.typekit.net/tqj4lgp.css">


    <!-- links - Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.css">
</head>

<body>
    <!-- header starts -->
    <header>
        <h1 class="hidden">Header starts</h1>

        <!-- logo header -->
        <div class="logoHeader">
            <img src="images/sp_logo_white.png" alt="Specialized Logo">
        </div>

        <!-- menu starts -->
        <nav id="mainNav">
            <h2 class="hidden">Main Navigation</h2>
            <button id="button"></button>
            
            <!-- menu content -->
             <div id="burgerCon">
                <ul id="burgerMenu">
                    <li><a href="#">BIKES</a></li>
                    <li><a href="#">E-BIKES</a></li>
                    <li><a href="#">EQUIPMENT</a></li>
                    <li><a href="#">SHOPS</a></li>
                </ul>

                <!-- social media icons header -->
                <div id="socialMediaHeader">
                    <img src="images/twitter_icon.svg" alt="Twitter icon">
                    <img src="images/vimeo_icon.svg" alt="Vimeo icon">
                    <img src="images/instagram_icon.svg" alt="Instagram icon">
                    <img src="images/share_icon.svg" alt="Share icon">
                </div>
            </div>  
        </nav>

        <!-- menu icons -->
        <div id="menuIcons">
            <img src="images/search-solid.svg" alt="Search icon">
            <img src="images/shopping-cart-solid.svg" alt="Shoping cart icon">
        </div>
    </header>

    <!-- hero section starts -->
    <section>
        <h1 class="hidden">Hero Section</h1>

        <!-- hero heading -->
        <div id="heroHeading">
            <h1>MIXTAPE</h1>
        </div>

        <!-- hero text -->
        <div id="heroText">
            <p>Do you have a playlist that gets you pumped? Us too, and that's what our Mixtape Collection is all about.</p>
        </div>

        <!-- hero mixtape img -->
        <div id="heroImage">
            <img src="images/mixtape_hero.png" alt="Specialized Stumjumper Mixtape 2019">
        </div>

        <!-- hero buttons -->
        <div id="buttonsHero">
            <button id="learnMore">LEARN MORE</button>
            <button id="shopNow">SHOP NOW</button>
        </div>
    </section>

    <!-- footer starts -->
    <footer>
        <h1 class="hidden">Main footer</h1>

        <!-- copyrights -->
        <div id="copyrightsFooter">
            <h3>Copyrights © Dana Marin 2019.</h3>
        </div>

        <!-- social media icons footer -->
        <div id="socialMediaFooter">
            <img src="images/twitter_icon.svg" alt="Twitter icon">
            <img src="images/vimeo_icon.svg" alt="Vimeo icon">
            <img src="images/instagram_icon.svg" alt="Instagram icon">
            <img src="images/share_icon.svg" alt="Share icon">
        </div>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>