<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Specialized Bikes</title>

    <!-- links - stylesheets -->
    <link rel="stylesheet" href="../public/css/main.css">
    
    <!-- links - fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/tqj4lgp.css">

</head>
<body>
    <!-- header starts -->
    <header>
        <h1 class="hidden">Header starts</h1>
        <div>
            <img src="../public/images/sp_logo_white.png" alt="Specialized Logo">
        </div>

        <!-- menu starts -->
        <nav id="mainNav">
            <h2 class="hide">Main Navigation</h2>
            <button id="button"></button>
            
            <!-- menu content -->
             <div id="burgerCon">
                <ul id="burgerMenu">
                    <li><a href="#">BIKES</a></li>
                    <li><a href="#">E-BIKES</a></li>
                    <li><a href="#">EQUIPMENT</a></li>
                    <li><a href="#">SHOPS</a></li>
                </ul>

            <!-- menu icons -->
            <div>
                <!-- search icon -->
                <div>
                    <img src="../public/images/search-solid.svg" alt="Search icon">
                </div>
                <!-- shopping cart icon -->
                <div>
                    <img src="../public/images/shopping-cart-solid.svg" alt="Shoping cart icon">
                </div>
            </div>
    </header>

    <!-- hero section starts -->
    <section>
        <h1 class="hidden">Hero Section</h1>

        <!-- hero mixtape img -->
        <div>
            <img src="../public/images/mixtape_hero.png" alt="Specialized Stumjumper Mixtape 2019">
        </div>

        <!-- hero buttons -->
        <div>
            <button>LEARN MORE</button>
            <button>SHOP NOW</button>
        </div>
    </section>
    <script src="../public/js/main.js"></script>
</body>
</html>